@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main aria-labelledby="title">
    <h2 id="title" class="mb-4">Contacto</h2>

    <div class="card shadow p-4">
        <p>
            ¿Tienes alguna consulta, necesitas ayuda o deseas más información? ¡Estamos aquí para ayudarte!
        </p>
        <h3 class="mt-4">Información de Contacto</h3>
        <address>
            <strong>Constructora UH</strong><br />
            Edificio Central, Calle Ficticia #123<br />
            San José, Costa Rica<br />
            <abbr title="Teléfono">Tel:</abbr> +506 2255-0100
        </address>

        <h3>Soporte</h3>
        <p>
            Si necesitas soporte o ayuda, contáctanos por correo electrónico:<br />
            <strong>Email:</strong> 
            <a href="mailto:erick.no1999@gmail.com">erick.no1999@gmail.com</a>
        </p>

        <p class="mt-4">
            ¡Gracias por elegir Constructora UH!
        </p>
    </div>
</main>
